<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="org.abc.A"/>
      <class name="org.abc.B"/>
      <class name="org.abc.C"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
